* {
  font-family: "poppins", sans-serif;
}

body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* navbar */
.navbar {
  transition: alls 0, 3s ease;
  -webkit-transition: alls 0, 3s ease;
  -moz-transition: alls 0, 3s ease;
  -ms-transition: alls 0, 3s ease;
  -o-transition: alls 0, 3s ease;
}

.navbar.scrolling-active {
  background-color: #e0e0e0;
  padding: 15px 0 15px 0;
}

/* hero */
.hero {
  padding-top: 5rem;
/*  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));*/
  background-image: url("banua assets/img/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* Custom CSS for Why Choose Us section */



.img-wrapper{
  display:flex;
  justify-content:center;
  
}



}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  height: 100%;
}


.why-card{
  margin:3rem;
  height: 100%;
 
}

/* about us */
#about {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}



section {
  padding-top: 13rem;
}

/* team */
.team {
  padding: 80px 0;
}

.team-card {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.team-card img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.team-card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 16px;
  margin-bottom: 10px;
}




/* products*/




/*gallery*/


  .gallery-img{
    width: 100%;

  }
  #gallery .row > * {
    padding: 0;
  }


/* sosmed*/
  .card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: white;
}

/* contact form */
#contact {
  padding: 80px 0;


}



.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  overflow: hidden;
}

.whatsapp-float i {
  margin-top: 16px;
}

/*.whatsapp-popup {
  position: absolute;
  width: 320px;
  height: 420px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: none;
  z-index: 101;
}

.whatsapp-popup-header {
  background-color: #25D366;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.whatsapp-popup-header span {
  font-weight: bold;
}

.whatsapp-popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.whatsapp-popup-body {
  padding: 10px;
  height: 350px;
}

.whatsapp-popup-body iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.whatsapp-float.open .whatsapp-popup {
  display: block;
}*/

/* footer */


.footer-section {
  padding: 40px 0;
  background-color: #333;
}

.footer-section h4 {
  margin-bottom: 20px;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer-section .map-container {
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section .social-icons {
  margin-top: 20px;
}

.footer-section .social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #ffff;
}
.info-footer{
  padding: 0;
  margin: 0;
  background-color: blue;
  width: 100%;
}